{{#foreach posts}}
<a href="{{url}}">
  <article class="{{post_class}}">
    <h3>{{title}}</h3>
    <section class="post-meta">
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
      <br />
      {{tags}}
    </section>
    <section class="post-excerpt">
      <p>{{excerpt words="26"}} … →</p>
    </section>
  </article>
</a>
{{/foreach}}
