{{#foreach posts}}
<a href="{{url}}">
  <article class="{{post_class}}">
    <h2>{{title}}</h2>
    <section class="post-excerpt">
      <p>{{excerpt words="26"}} … →</p>
    </section>
    <section class="post-meta">
      {{#if author.profile_image}}<img src="{{author.profile_image}}" alt="Author image" />{{/if}}
      {{author}} on 
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
      <br />
      {{tags}}
    </section>
  </article>
</a>
{{/foreach}}
